/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
*{
    font-family: 'Nunito Sans', sans-serif;
}
/* Estilo para el encabezado */
h1 {
    color: #007BFF;
    font-size: 36px;
    margin: 20px 0;
}

/* Estilo para el contenedor del juego */
.hangman-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

/* Estilo para el ahorcado */
.hangman {
    margin: 20px 0;
    display: inline-block;
}

.hangman > div {
    width: 20px;
    height: 20px;
    background-color: #333;
    margin: 2px;
    display: inline-block;
}

/* Estilo para la palabra mostrada */
.word-display {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
}

/* Estilo para las teclas del teclado */
.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.key-row {
    display: flex;
    margin-bottom: 10px;
}

.key {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.key:hover {
    background-color: #15b300;
}

/* Estilo para el mensaje */
.message {
    font-weight: bold;
    margin-top: 20px;
    color: #ff0000;
    font-size: 18px;
}

/* Estilo para el botón de reinicio */
.reset-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones de color */
}

.reset-button:hover {
    background-color: #a1b300;
    color: #fff; /* Cambio de color del texto al pasar el cursor */
}



/* Estilo para el footer */
.footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}
